APP_NAME=Go API
APP_PORT=8080
APP_BASE_URL=http://localhost:8080

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=disable

JWT_SECRET=super-secret-key
JWT_ISSUER=backend-platform
JWT_ACCESS_TOKEN_MINUTES=10080
JWT_REFRESH_TOKEN_DAYS=30

EMAIL_VERIFICATION_MINUTES=15
PASSWORD_RESET_MINUTES=15
MAGIC_LINK_MINUTES=10

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Go API"

SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=Admin@12345
SEED_ADMIN_FIRST_NAME=System
SEED_ADMIN_LAST_NAME=Administrator

RATE_LIMIT_STORE=memory  # local developement
# RATE_LIMIT_STORE=redis  # deploying with Docker

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0